@model SD115Demos.Models.ViewModels.MoviesAndActors

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@if(Model.Message != null)
{
    <div>
        @Model.Message
    </div>
}

<h2>Movies</h2>
@foreach (Movie m in Model.Movies)
{
    <div>
        @m.Title (@m.Genre.ToString(), @m.ReleaseDate.Year)
    </div>
}

<h2>Actors</h2>
@foreach(Actor a in Model.Actors)
{
    <div>
        @a.Name
    </div>
}

